
.site-container
  display: flex
  justify-content: center

.calendar-container
  border: 1px blue solid
  width: 75vw
  height: 100vh

.options-container
  display: flex
  justify-content: flex-start


.week-container
  display: flex
  justify-content: center

  .week
    height: 20vh
    width: 20vh
    background: salmon
